<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s4 {
        background-color: #ffffff;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        background-color: #274e13;
        text-align: center;
        color: #ffffff;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #274e13;
        text-align: center;
        color: #ffffff;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        background-color: #6d6d6d;
        text-align: center;
        color: #274e13;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        background-color: #f9cb9c;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'Arial';
        font-size: 12pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        background-color: #ffffff;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        background-color: #b6d7a8;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 13pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr style="height: 20px">
                <td class="s0"></td>
                <td class="s1">Monday</td>
                <td class="s1">Tuesday</td>
                <td class="s1">Wednesday</td>
                <td class="s1">Thursday</td>
                <td class="s1">Friday</td>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 20px">
                <th class="s2">09:00</th>
                <td class="s3" rowspan="5"></td>
                <td class="s4" dir="ltr">Pre-registrations &amp; Registration Reports</td>
                <td class="s4" dir="ltr" rowspan="2">Good practices in the lab: Research documentation and electronic
                    notebooks</td>
                <td class="s4" dir="ltr">Publishing Open-Access</td>
                <td class="s4" dir="ltr" rowspan="2">Panel 1: Other ways to get involved with OS</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">09:45</th>
                <td class="s4" dir="ltr">Data Management Plans (DMPs) and Stats Plans</td>
                <td class="s4" dir="ltr">Open peer review</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">10:30</th>
                <td class="s5">break</td>
                <td class="s5">break</td>
                <td class="s5">break</td>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">10:45</th>
                <td class="s4" dir="ltr" rowspan="2">Citizen Science (2x 45&#39;)</td>
                <td class="s4" dir="ltr">Good practices in the lab: Reproducible code, documentation &amp; version
                    control</td>
                <td class="s4" dir="ltr">Data sharing + GDPR</td>
                <td class="s4" dir="ltr" rowspan="2">Panel 2: Stakeholders and Research Assessment</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">11:30</th>
                <td class="s4" dir="ltr">Introduction to <span
                        style="text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;color:#274e13;"><a
                            target="_blank" href="http://protocols.io/">protocols.io</a></span></td>
                <td class="s4" dir="ltr">Science popularization</td>
            </tr>
            <tr style="height: 20px">
                <th class="s6">12:15</th>
                <td class="s7"></td>
                <td class="s5">lunch</td>
                <td class="s5">lunch</td>
                <td class="s5">lunch</td>
                <td class="s8" dir="ltr">Closing talk</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">13:30</th>
                <td class="s5">Registration + Welcome Coffee</td>
                <td class="s4" dir="ltr" rowspan="5">WS1: Writing your Pre-registration</td>
                <td class="s4" dir="ltr" rowspan="5">WS3: Version control in the lab</td>
                <td class="s4" dir="ltr" rowspan="5">WS5: Data sharing</td>
                <td class="s9" dir="ltr" rowspan="2">Lunch + social activities</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">14:00</th>
                <td class="s8" dir="ltr">Opening Talk</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">14:15</th>
                <td class="s4" dir="ltr">Presentation of the Workshop</td>
                <td class="s3" rowspan="10"></td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">14:45</th>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">15:00</th>
                <td class="s4" dir="ltr" rowspan="4">Open Science: the Big Picture </td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">15:30</th>
                <td class="s5">break</td>
                <td class="s5">break</td>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">15:45</th>
                <td class="s4" dir="ltr" rowspan="5">WS2: DMPs and/or Stats plan</td>
                <td class="s4" dir="ltr" rowspan="5">WS4: Documentation/SOPs by <span
                        style="text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;"><a
                            target="_blank" href="http://protocols.io/">protocols.io</a></span></td>
                <td class="s4" dir="ltr" rowspan="5">WS6: Science popularization</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">16:00</th>
            </tr>
            <tr style="height: 20px">
                <th class="s2">16:15</th>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">16:30</th>
                <td class="s4" dir="ltr">Reproducibility in France</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">17:45</th>
                <td class="s4">Presentation of the attendees</td>
            </tr>
            <tr style="height: 20px">
                <th class="s6">Evening</th>
                <td class="s10">Free</td>
                <td class="s5">Happy hour</td>
                <td class="s5">Free</td>
                <td class="s5">Dinner</td>
            </tr>
        </tbody>
    </table>
</div>