<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s4 {
        background-color: #ffffff;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        background-color: #274e13;
        text-align: center;
        color: #ffffff;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #274e13;
        text-align: center;
        color: #ffffff;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s3 {
        background-color: #6d6d6d;
        text-align: center;
        color: #274e13;
        font-family: 'Arial';
        font-size: 8pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'Arial';
        font-size: 9pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s8 {
        background-color: #f9cb9c;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'Arial';
        font-size: 9pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        background-color: #ffffff;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        background-color: #d0e0e3;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        background-color: #b6d7a8;
        text-align: center;
        color: #274e13;
        font-family: 'docs-Calibri', Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
            <tr style="height: 10px">
                <td class="s0"></td>
                <td class="s1">Monday</td>
                <td class="s1">Tuesday</td>
                <td class="s1">Wednesday</td>
                <td class="s1">Thursday</td>
                <td class="s1">Friday</td>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 10px">
                <th class="s2">09:00</th>
                <td class="s3" rowspan="5"></td>
                <td class="s4" dir="ltr">Pre-registrations &amp; Registered Reports <br> <a href = "https://www.ed.ac.uk/profile/robert-mcintosh" target = "_blank"> <font size="-1"><i>Robert McIntosh</i></font></a></td>
                <td class="s4" dir="ltr">Introduction to research protocols <br><a href="https://www.linkedin.com/in/eganley/?originalSubdomain=uk" target="_blank"> <font size="-1"><i>Emma Gangley</i></font> </a> </td>
                
                <td class="s4" dir="ltr">Publishing Open-Access</td>
                <td class="s4" dir="ltr" rowspan="2">Panel 1: Other ways to get involved with OS: <br> <font size="-1"><i> <a href="https://ikramchraibik.com" target="_blank">Ikram Chaibi Kaadoud, </a> 
                    <a href="https://www.stephanieforkel.com" target="_blank"> Stephanie Forkel, </a> <a href="https://www.bordeaux-neurocampus.fr/en/brainstorm-the-new-neuroscience-student-journal-in-bordeaux/" target="_blank"> Brainstorm, </a> <a href="https://osf.io/9hkv2" target="_blank"> Reproducibility Bordeaux </a> </i></font> </td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">09:45</th>
                <td class="s4" dir="ltr">Data Management Plans (DMPs) and Statistical Planning </td>
                <td class="s4" dir="ltr">Good practices in the lab: Reproducible code, documentation &amp; version
                    control <br><a href="https://www.labri.fr/perso/nrougier/#newsste" target="_blank"> <font size="-1"><i> Nicolas P. Rougier</i></font> </a></td>
                
                <td class="s4" dir="ltr">Open peer review <br> <a href="https://www.florent-lebon.com/phd-neuroscience" target="_blank">  <font size="-1"><i> Florent Lebon</i></font></a></td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">10:30</th>
                <td class="s5">break</td>
                <td class="s5">break</td>
                <td class="s5">break</td>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 20px">
                <th class="s2">10:45</th>
                <td class="s4" dir="ltr" rowspan="2">Citizen Science <font size="-1"><i>  <a href="https://www.linkedin.com/in/raphaellebats/" target="_blank">Raphaelle Bats </a></i></font></td>
    
                <td class="s4" dir="ltr" rowspan="2">Good practices in the lab: Research documentation and electronic
                        notebooks <br><a href="https://polaris.imag.fr/arnaud.legrand/" target="_blank"> <font size="-1"><i> Arnaud Legrand </i></font> </a></td>
                <td class="s4" dir="ltr"> Open Data <br> <font size="-1"><i>  <a href="https://andrewdavison.info/" target="_blank"> Andrew Davison </a></i></font> </td>
                <td class="s4" dir="ltr" rowspan="2">Panel 2: Stakeholders and Research Assessment: <font size="-1"><i>  <a href="https://www.bordeaux-neurocampus.fr/en/staff/mathieu-wolff/" target="_blank">Matthieu Wolff, </a><a href="https://www.labri.fr/perso/nrougier/#newsste" target="_blank"> Nicolas P. Rougier, </a>  <a href="https://www.florent-lebon.com/phd-neuroscience" target="_blank">Florent Lebon </a> </i></font></td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">11:30</th>
              
                <td class="s4" dir="ltr">Science outreach/popularization <br> <font size="-1"><i> <a href="https://www.stephanieforkel.com" target="_blank"> Stephanie Forkel</a> </i></font></td>
            </tr>
            <tr style="height: 10px">
                <th class="s6">12:15</th>
                <td class="s7"></td>
                <td class="s5">lunch</td>
                <td class="s5">lunch</td>
                <td class="s5">lunch</td>
                <td class="s8" dir="ltr">Closing talk</td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">13:30</th>
                <td class="s5">Registration + Welcome Coffee</td>
                <td class="s4" dir="ltr" rowspan="5">WS1: Writing your Pre-registration <br> <a href = "https://www.ed.ac.uk/profile/robert-mcintosh" target = "_blank"> <font size="-1"><i>Robert McIntosh</i> </font></td>
                <td class="s4" dir="ltr" rowspan="5">WS3: Version control in the lab <br><font size="-1"><i>  <a href="https://www.labri.fr/perso/nrougier/#newsste" target="_blank"> Nicolas P. Rougier </a></i></font></td>
                <td class="s4" dir="ltr" rowspan="5">WS5: Open Data <br> <font size="-1"><i>  <a href="https://andrewdavison.info/" target="_blank"> Andrew Davison </a> </i> </font>  </td>
                <td class="s9" dir="ltr" rowspan="2">Lunch + social activities</td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">14:00</th>
                <td class="s8" dir="ltr">Opening Talk</td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">14:15</th>
                <td class="s4" dir="ltr">Presentation of the Workshop</td>
                <td class="s3" rowspan="10"></td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">14:45</th>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">15:00</th>
                <td class="s4" dir="ltr" rowspan="4">Open Science: the Big Picture <br> <font size="-1"><i>  <a href="https://sarah.cohen-boulakia.eu/index.php" target="_blank"> Sarah Cohen Boulakia </a></i></font></td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">15:30</th>
                <td class="s5">break</td>
                <td class="s5">break</td>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">15:45</th>
                <td class="s4" dir="ltr" rowspan="5">WS2: DMPs and Statistical planning </td>
                <td class="s4" dir="ltr" rowspan="5">WS4: Writing and sharing your protocols with Protocols.io <br> <a href="https://www.linkedin.com/in/eganley/?originalSubdomain=uk" target="_blank"> <font size="-1"><i>Emma Gangley</i></font> </a></td>
                <td class="s4" dir="ltr" rowspan="5">WS6: Science outreach/popularization </td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">16:00</th>
            </tr>
            <tr style="height: 10px">
                <th class="s2">16:15</th>
                <td class="s5">break</td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">16:30</th>
                <td class="s4" dir="ltr">Reproducibility in France <br> <font size="-1"><i> <a href="https://www.labri.fr/perso/nrougier/#newsste" target="_blank">Nicolas P. Rougier </a> &  <a href="https://sarah.cohen-boulakia.eu/index.php" target="_blank">Sarah Cohen Boulakia </a></i></font></td>
            </tr>
            <tr style="height: 10px">
                <th class="s2">17:45</th>
                <td class="s4">Presentation of the attendees</td>
            </tr>
            <tr style="height: 10px">
                <th class="s6">Evening</th>
                <td class="s10">Free</td>
                <td class="s5">Happy hour</td>
                <td class="s5">Free</td>
                <td class="s5">Dinner</td>
            </tr>
        </tbody>
    </table>
</div>
